body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
}

header {
    grid-column: span 6;
   height: 500px;
}

#a2,
#a3,
#a4,
#a5 {
    grid-column: span 3;
    grid-row: span 8;
}

#a6,
#a7,
#a8 {
    grid-column: span 2;
    grid-row: span 7;
}

#a9 {
    grid-column: span 2;
    grid-row: span 7;
}

#a10 {
    grid-column: span 4;
    grid-row: span 7;
}


#a11,
#a12,
#a13 {
    grid-column: span 2;
    grid-row: span 7;
}

#a14 {
    grid-column: span 2;
    grid-row: span 7;
}

#a15 {
    grid-column: span 4;
    grid-row: span 7;
}

#a16 {
    grid-column: span 6;
}

#a17,
#a18,
#a19,
#a20,
#a21,
#a22 {
    grid-column: span 3;
}
#a23{
    grid-column: span 6;
}

#a24,
#a25,
 #a26{
    grid-column: span 2;
}

#a27 {
    grid-column: span 2;
}
#a28{
    grid-column: span 4;
}


header,
div,
footer {
    background-color: gray;
    text-align: center;
    line-height: 50px;
    grid-column: span 6;
}